.statCardContaier {
  width: 100%;
  display: flex;
  justify-content: space-between;
  & > * {
    margin: 0 10px;
  }

  & > *:first-child {
    margin-left: 0;
  }
  & > *:last-child {
    margin-right: 0;
  }
}
