.container {
  padding: 10px;
  width: 100%;
  margin: auto;
  max-width: 1000px;
}

.h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;

  .text {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

.headerInfo {
  margin-top: 0px;
  display: block;
  font-size: 0.8rem;
}

.goCorona {
  display: inline-block;
  font-size: 1.1rem;
  margin-top: 0px;
  margin-left: 6px;
  font-weight: 400;
}

.headerContainer {
  display: flex;
  margin: 2rem 0;
  flex-direction: column;

  .img {
    width: 2rem;
    height: 2rem;
    display: inline-block;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
